name: Cloud-Linker
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'YouTube URL'
        required: true
jobs:
  get-link:
    runs-on: ubuntu-latest
    steps:
      - name: クラウドで解析
        run: |
          pip install yt-dlp
          yt-dlp -g -f "best" "${{ github.event.inputs.url }}"
